<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
– Одевайся быстрее, – сказала она. – Тебя ждет Преподобная Мать.
– Она мне снилась, – сказал Пол. – Кто она?
– Моя учительница из школы Бинэ Гессерит, а теперь ясновидящая Императора. Пол… – Она заколебалась. – Ты должен рассказать ей о своих снах.
– Это из-за нее мы получили Арракис?
– Арракис мы не получили. – Джессика стряхнула пылинку с брюк и повесила их на вешалку у кровати. – Не заставляй ждать Преподобную Мать.
Пол сел на кровати, обняв колени.
– А что такое гом джаббар?
И вновь вышколенные ею же самой чувства позволили ему заметить мгновенную нерешительность, реакцию нервной системы, которую он истолковал как страх.
</body>
</html>